/* <Split
  sizes={[50, 50]}
  direction="horizontal"
  className="split"
  cursor="col-resize"
> */
.gutter {
  background-color: deeppink;

  background-repeat: no-repeat;
  background-position: 50%;
}

/* .gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('grips/horizontal.png');
  cursor: row-resize;
} */

body{
  background-color: #0d1117;
}
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 /*  width: 100%; */
}
.split,
.gutter.gutter-horizontal {
    float: left;
}
.split,
.gutter.gutter-horizontal {
    height: 100vh;
}
.split{
  width: 100vw;

}
.sidebar{
  float: left;
}
.editor{
  float: right;
}
section{
  height: 100vh;
}
.w-md-editor{
  height: 100% !important;
}